<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <title>Coin Divvy - Transaction History</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="">
    <meta name="author" content=""/>

    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800"
          type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/js/libs/css/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css"/>

    <link rel="stylesheet" href="/css/App.css" type="text/css"/>

    <link rel="stylesheet" href="/css/custom.css" type="text/css"/>

</head>

<body>

<div id="wrapper">

    <header id="header">

        <h1 id="site-logo">
            <a href="/index.html">
                <img src="/img/logos/logo.png" alt="Site Logo"/>
            </a>
        </h1>

        <a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle"
           class="navbar-toggle collapsed">
            <i class="fa fa-cog"></i>
        </a>

        <a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle"
           class="navbar-toggle collapsed">
            <i class="fa fa-reorder"></i>
        </a>

    </header>
    <!-- header -->


    <nav id="top-bar" class="collapse top-bar-collapse">

        <ul class="nav navbar-nav pull-left">

        </ul>

        <ul class="nav navbar-nav pull-right">

        </ul>

    </nav>
    <!-- /#top-bar -->


    <div id="sidebar-wrapper" class="collapse sidebar-collapse">

        <div id="search">

        </div>
        <!-- #search -->

        <nav id="sidebar">

            <ul id="main-nav" class="open-active">
                <% for (i = 0; i < accounts.length; ++i) { %>
                <li class="">
                    <h3><%= accounts[i].name %></h3>
                </li>
                    <% for (j = 0; j < accounts[i].addresses.length; ++j) { %>
                <li class="">
                    <%= accounts[i].addresses[j].hashes %>hashes
                </li>
                    <% } %>
                <% } %>
            </ul>

        </nav>
        <!-- #sidebar -->

    </div>
    <!-- /#sidebar-wrapper -->


    <div id="content">

        <div id="content-header">
            <h1>Transaction History</h1>
        </div>
        <!-- #content-header -->


        <div id="content-container">


            <div class="row">

                <div class="col-md-12">

                    <h4 class="heading">
                        Address: <%= address %>
                    </h4>

                    <table class="table table-bordered table-highlight table-hover table-striped">
                        <thead>
                        <tr>
                            <th>TX #</th>
                            <th>Account Name</th>
                            <th>Date</th>
                            <th>Address Hashes</th>
                            <th>Net Amount</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for (index = 0; index < transactions.length; ++index) { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= transactions[index].name %></td>
                            <td><%= transactions[index].timestamp %></td>
                            <td><%= transactions[index].hashes %></td>
                            <td><%= transactions[index].amount_total %></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->


        </div>
        <!-- /#content-container -->


    </div>
    <!-- #content -->


</div>
<!-- #wrapper -->

<footer id="footer">
    <ul class="nav pull-right">
        <li>
            Copyright &copy; 2013, Jumpstart Themes.
        </li>
    </ul>
</footer>

<script src="/js/libs/jquery-1.9.1.min.js"></script>
<script src="/js/libs/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>

<script src="/js/App.js"></script>

</body>
</html>